# /etc/udev/rules.d/30-local.rules
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/local/bin/set-backlight min", RUN+="/usr/local/bin/performance.sh silent"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/local/bin/set-backlight max", RUN+="/usr/local/bin/performance.sh normal"
